[Unit]
  Description=DistancePi start up at the beginning
  After=multi-user.target

[Service]
  Type=idle
  ExecStart=/bin/bash -c distancepi --config config/testConfig.json
  RemainAfterExit=yes

[Install]
  WantedBy=multi-user.target
