[Unit]
  Description=DistancePi start up at the beginning
  After=multi-user.target

[Service]
  Type=idle
  ExecStart=/bin/bash -c $HOME/DistancePi/start_up.sh
  RemainAfterExit=yes

[Install]
  WantedBy=multi-user.target
