[Unit]
  Description=DistancePi start up at the beginning
  After=multi-user.target

[Service]
  Type=idle
  ExecStart=/usr/bin/python3.5 /home/pi/DistancePi/code/main.py
  RemainAfterExit=yes

[Install]
  WantedBy=multi-user.target
